@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans&display=swap');

.regf {
    padding-top: 5vh;
    padding-left: 1vw;
    padding-right: 1vw;
    max-height: 100%;
}

.back-icon-container1 {
    margin: 1vh 0;
}

.second-line-text1 {
    margin: 1vh 0;
    font-weight: 300;
    font-size: 40px;
    text-align: center;
    font-family: 'Kumbh Sans';
}

.login-container2 {
    margin: 5% 15%;
}